{% extends 'nav.html' %}

{% block title %} ATG Chapel Machakos | Home {% endblock %}

{% block content %}
<p>We are delighted to have you visit our website. Whether you are new or simply exploring your faith, we welcome you with open arms.</p>
<p>At ATG Chapel Machakos, we strive to create a loving and inclusive community where everyone feels accepted and valued. Our doors are open to people from all walks of life and we invite you to join us as we journey together in faith.</p>
<p>Explore our website to learn more about our worship services ministries and upcoming events. May you find peace, hope and inspiration as you explore and may God's blessings be upon you.</p>                    
{% endblock %}

